extends ../_sidebars

block sidebar__header
	.logo logo
block sidebar__body
	ul.menu
		li 1
			ul
				li 1
				li 2
				li 3
				li 4
				li 5
		li 1
			ul
				li 1
				li 2
				li 3
				li 4
				li 5
		li 1
			ul
				li 1
				li 2
				li 3
				li 4
				li 5
block sidebar__footer
	.icon 1
	.icon 3
	.icon 2
	.icon 4
