html
	font-size: 16px
body
	margin: 0
	font-family: "Ubuntu-R"
*
	box-sizing: border-box

@import "./_module/_font/_font"
@import "./_module/_grid/_grid"
@import "./_layout/_drawers/_drawers"
@import "./_layout/_sidebars/_sidebars"
@import "./_layout/_logo/_logo"
@import "./_layout/_menu/_menu"
@import "./_layout/_directory_management/_directory_management"
@import "./_layout/_directory_edit/_directory_edit"
@import "./_layout/_new_name/_new_name"
@import "./_layout/_tabs/_tabs"
@import "./_github"
@import "./_layout/_modal/_index"


.wrapper
	min-width: 100vw
	min-height: 100vh
	display: flex
	flex-flow: column nowrap
	justify-content: stretch
	align-items: stretch
.wrapper__body
	flex-grow: 1
	background-color: #cac9cd
.wrapper__footer
	padding: 10px
	background-color: #555555
