include ./_module/_svg/_svg

<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="./index.css")
		title Notes
	body
		.wrapper
			.wrapper__body
			.wrapper__footer
				button.add__link link
				button.add__h h$
		include ./_layout/_modal/_index
		script(src='https://code.jquery.com/jquery-3.3.1.min.js')
		script(src='./page.js')
