.mainMenu
    .mainMenu__logo
        | logo
    ul.mainMenu__list
        li.mainMenu__i
            a(href="").mainMenu__link
                | svg1
        li.mainMenu__i
            a(href="").mainMenu__link
                | svg2
        li.mainMenu__i
            a(href="").mainMenu__link
                | svg3
        li.mainMenu__i
            a(href="").mainMenu__link
                | svg4
        li.mainMenu__i
            a(href="").mainMenu__link
                | svg5
