ul.menu#menu
	li
		a(href="#") Link1
		ul
			li
				a(href="#") Link1
			li
				a(href="#") Link2
			li
				a(href="#") Link3
	li
		a(href="#") Link2
		ul
			li
				a(href="#") Link1
			li
				a(href="#") Link2
			li
				a(href="#") Link3
	li
		a(href="#") Link3
		ul
			li
				a(href="#") Link1
			li
				a(href="#") Link2
			li
				a(href="#") Link3
	li
		a(href="#") Link4
		ul
			li
				a(href="#") Link1
			li
				a(href="#") Link2
			li
				a(href="#") Link3
	li
		a(href="#") Link5
		ul
			li
				a(href="#") Link1
			li
				a(href="#") Link2
			li
				a(href="#") Link3
