.directory_management
	.dm__.dm__add
		+folder_add('dm___ dm__add_ dm__add_folder')
			| Folder+
		+file_add('dm___ dm__add_ dm__add_file')
			| File+
	.dm__.dm__remove
		+folder_remove('dm___ dm__remove_ dm__remove_folder')
			| Folder-
		+file_remove('dm___ dm__remove_ dm__remove_file')
			| File-
