.directory_management
	.dm__.dm__add
		+folder_add('dm___ dm__add_ dm__add_folder')
			| Folder+
		+file_add('dm___ dm__add_ dm__add_file')
			| File+
	.dm__.dm__edit
		+edit('dm___ dm__edit_ dm__edit_edit')
			| Rename
		+trash('dm___ dm__edit_ dm__edit_remove')
			| Remove
